/* General style ruleset for page */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
* {
  box-sizing: border-box;
}
html {
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
  font-size: 23px;
  color: white;
  background: #4682A0;
}

/* Creating the GRID */


/* Styling the HEADER */

header {
  position: sticky;
  top: 0;
  background: linear-gradient(to right, #4682A0, white);
  padding: 1px;
  border-radius: 1px;
}
ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  list-style: none;
  height: auto;
}
a {
  text-decoration: none;
  font-weight: bold;
  color: #4682A0;
  padding: 5px;
}
li {
  margin: 5px;
  background: rgba(300,300,300,0.8);
  padding: 1px;
}
a:hover {
  background-color: #4682A0;
  color: white;
}

/* Styling the MAIN sections */
body {
  width: 90%;
  margin: auto;
}
 section,
 h1 {
   height: 85vh;
   margin: 0;
 }
h1 {
  text-align: center;
  padding-top: 30vh;
  font-size: 2.5em;
}
.right {
  text-align: right;
}
